In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"Downloads\zomato.csv")

In [3]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [4]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
data.columns.nunique()

21

In [6]:
data.drop(columns = ["Restaurant ID","Is delivering now"],inplace = True)

In [7]:
data.columns.nunique()

19

In [8]:
data.head()

,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",1100,Botswana Pula(P),Yes,No,No,3,4.8,Dark Green,Excellent,314
1,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,1200,Botswana Pula(P),Yes,No,No,3,4.5,Dark Green,Excellent,591
2,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,No,No,4,4.4,Green,Very Good,270
3,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",1500,Botswana Pula(P),No,No,No,4,4.9,Dark Green,Excellent,365
4,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",1500,Botswana Pula(P),Yes,No,No,4,4.8,Dark Green,Excellent,229

In [9]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Switch to order menu', 'Price range',
       'Aggregate rating', 'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [10]:
data.shape

(9551, 19)

In [11]:
data["Country Code"].nunique()

15

In [12]:
data['Country Code'].value_counts()
#returns the number of restaurants country code vise

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [13]:
mask = data["Country Code"] == 1

In [14]:
data = data[mask]

In [15]:
data.shape

(8652, 19)

In [16]:
#the above operation returns only the values where country code is 1
#it can be done with other method too as data = data[data["Country Code"] == 1]

In [17]:
#since we have only one country code now so the columns of country code and currency has no significance in dataset 
#this all is to done so that the country which has maximum data can be extracted out and the remaining countrys which have very 
#less share in data will only increase noise. similarly we can see the city distribution in the selected country

In [18]:
data.drop(columns = ["Country Code","Currency"],inplace = True)

In [19]:
data.columns.nunique()

17

In [20]:
data["City"].nunique()

43

In [21]:
data["City"].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Ahmedabad         21
Lucknow           21
Guwahati          21
Bhubaneshwar      21
Amritsar          21
Agra              20
Nagpur            20
Pune              20
Chennai           20
Surat             20
Goa               20
Mumbai            20
Indore            20
Patna             20
Kolkata           20
Kochi             20
Mangalore         20
Vadodara          20
Nashik            20
Varanasi          20
Ludhiana          20
Puducherry        20
Vizag             20
Dehradun          20
Aurangabad        20
Allahabad         20
Ranchi            20
Mysore            20
Bhopal            20
Kanpur            20
Coimbatore        20
Bangalore         20
Jaipur            20
Chandigarh        18
Hyderabad         18
Secunderabad       2
Panchkula          1
Mohali             1
Name: City, dtype: int64

In [22]:
#only 1000 restaurants from 8000 restaurants will be deducted if we include only three major cities

In [23]:
data.shape

(8652, 17)

In [24]:
msk = data["City"].isin(["New Delhi","Gurgaon","Noida"])

In [25]:
data = data[msk]

In [26]:
data.shape

(7671, 17)

In [27]:
data["Restaurant Name"].nunique()

5834

In [28]:
data["Restaurant Name"].value_counts()

Cafe Coffee Day                                   81
Domino's Pizza                                    75
Subway                                            60
Green Chick Chop                                  47
McDonald's                                        44
Keventers                                         33
Giani                                             28
Baskin Robbins                                    26
Barista                                           21
Giani's                                           20
Dunkin' Donuts                                    20
Pizza Hut                                         20
Wah Ji Wah                                        19
Costa Coffee                                      19
Pizza Hut Delivery                                19
Twenty Four Seven                                 18
Chaayos                                           18
Starbucks                                         17
Republic of Chicken                               17
Sagar Ratna                                       17
Pind Balluchi                                     16
Haldiram's                                        15
Burger King                                       14
Bikanervala                                       14
Aggarwal Sweets                                   14
KFC                                               13
Moti Mahal Delux                                  13
Shree Rathnam                                     13
Behrouz Biryani                                   13
Bikaner Sweets                                    13
                                                  ..
Salad Days                                         1
The Grill Kitchen - Gourmet                        1
Mr. Bake                                           1
Chhote Nawab                                       1
Cuisine                                            1
Le ROFL                                            1
Apna Dabba                                         1
Cakes 'n' Crumbs                                   1
Sinyora's                                          1
Bakey Wish                                         1
Dilli 32 - The Leela Ambience Convention Hotel     1
Healthy Food Station                               1
Grub Patio                                         1
Peninsular Kitchen                                 1
Delhicacy                                          1
Atrium Bar  & Lounge - The Suryaa New Delhi        1
Mikky Peshawari                                    1
Ricos                                              1
Al-raaya                                           1
Derawal Soda Fountain                              1
Railway Yard                                       1
Yummi Kolkataa                                     1
T-2 Di Hatti                                       1
Somethings Sweet                                   1
Ristorante Prego                                   1
Mohan Chaat Corner                                 1
Kaleva                                             1
Evergreen Sweet House                              1
Starve Stalkers                                    1
Ziu                                                1
Name: Restaurant Name, Length: 5834, dtype: int64

In [29]:
#now although the name of restaurant is a significant feature in predicting the price but there are almost 30 restaurants and
#for predicting for every restaurant we have to convert them into 1 or 0 array 5834 times as there are 5834 values of it
#so for simplicity we drop it. also the address,locality locality verbose are same thing as langitude and latitude and they have
#more accuracy so these three are dropped.rating color is related to aggregate rating so it is dropped.
#rating text is a good measure only when nlp is known so it is also dropped

In [30]:
data.columns.nunique()

17

In [31]:
data.drop(columns = ["Restaurant Name","Address","Locality","Locality Verbose","Rating color","Rating text"],inplace = True)

In [32]:
data.head()

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Switch to order menu,Price range,Aggregate rating,Votes
1161,Gurgaon,77.039310,28.424831,"Cafe, Beverages",350,No,No,No,1,3.4,16
1162,Gurgaon,77.039220,28.424913,"North Indian, Mughlai",800,Yes,Yes,No,2,2.7,80
1163,Gurgaon,77.097118,28.503077,"North Indian, Mughlai",2000,Yes,Yes,No,4,4.3,1887
1164,Gurgaon,77.097185,28.502613,"South Indian, Seafood, Kerala",1400,Yes,Yes,No,3,4.0,802
1165,Gurgaon,77.042009,28.511416,Bakery,250,No,No,No,1,3.0,4

In [33]:
data.columns.nunique()

11

In [34]:
data["Switch to order menu"].value_counts()

No    7671
Name: Switch to order menu, dtype: int64

In [35]:
#since switch has all values as no so we remove it too

In [36]:
data

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Switch to order menu,Price range,Aggregate rating,Votes
1161,Gurgaon,77.039310,28.424831,"Cafe, Beverages",350,No,No,No,1,3.4,16
1162,Gurgaon,77.039220,28.424913,"North Indian, Mughlai",800,Yes,Yes,No,2,2.7,80
1163,Gurgaon,77.097118,28.503077,"North Indian, Mughlai",2000,Yes,Yes,No,4,4.3,1887
1164,Gurgaon,77.097185,28.502613,"South Indian, Seafood, Kerala",1400,Yes,Yes,No,3,4.0,802
1165,Gurgaon,77.042009,28.511416,Bakery,250,No,No,No,1,3.0,4
1166,Gurgaon,77.041964,28.511457,Ice Cream,200,No,No,No,1,3.0,5
1167,Gurgaon,77.042009,28.511506,Chinese,200,No,No,No,1,3.0,10
1168,Gurgaon,77.041825,28.511407,Fast Food,100,No,No,No,1,0.0,2
1169,Gurgaon,77.087851,28.440709,"Japanese, Thai, Chinese",1200,No,Yes,No,3,3.0,57
1170,Gurgaon,77.085531,28.442393,"Pizza, Desserts",500,No,Yes,No,2,3.1,4
1171,Gurgaon,77.075767,28.441879,"Raw Meats, Fast Food",350,No,No,No,1,2.9,4
1172,Gurgaon,77.078768,28.434728,"South Indian, Chinese, Mughlai",450,No,No,No,1,0.0,0
1173,Gurgaon,77.089857,28.430858,"Fast Food, North Indian",300,No,No,No,1,0.0,0
1174,Gurgaon,77.078058,28.432548,"North Indian, Chinese",300,No,No,No,1,0.0,2
1175,Gurgaon,77.078405,28.440599,"North Indian, South Indian, Chinese",500,No,No,No,2,0.0,1
1176,Gurgaon,77.073512,28.431910,Cafe,600,No,No,No,2,0.0,2
1177,Gurgaon,77.073895,28.436274,Raw Meats,500,No,Yes,No,2,0.0,1
1178,Gurgaon,77.078745,28.434686,"Mithai, North Indian",100,No,No,No,1,0.0,0
1179,Gurgaon,0.000000,0.000000,"North Indian, Chinese, Fast Food",500,No,No,No,2,0.0,1
1180,Gurgaon,77.081492,28.440652,North Indian,200,No,No,No,1,0.0,0
1181,Gurgaon,77.076272,28.435322,"North Indian, Chinese",350,No,No,No,1,0.0,0
1182,Gurgaon,77.072819,28.437092,"South Indian, Street Food",300,No,No,No,1,0.0,1
1183,Gurgaon,77.072861,28.437116,"North Indian, Chinese",250,No,No,No,1,0.0,0
1184,Gurgaon,77.075495,28.439452,"North Indian, Chinese",500,No,No,No,2,0.0,1
1185,Gurgaon,77.083756,28.430634,North Indian,200,No,No,No,1,0.0,0
1186,Gurgaon,0.000000,0.000000,"North Indian, Mughlai, Seafood",800,No,No,No,2,0.0,0
1187,Gurgaon,77.075661,28.441949,Fast Food,350,No,No,No,1,0.0,3
1188,Gurgaon,77.034715,28.458088,Japanese,1500,Yes,No,No,3,2.8,13
1189,Gurgaon,77.034963,28.458241,"North Indian, Chinese, Continental",2500,Yes,No,No,4,2.9,15
1190,Gurgaon,77.085720,28.480759,"Bakery, Fast Food",500,No,Yes,No,2,3.9,415
...,...,...,...,...,...,...,...,...,...,...,...
9083,Noida,77.325398,28.567159,Italian,1200,Yes,No,No,3,3.1,372
9084,Noida,77.325406,28.567220,Cafe,700,No,No,No,2,2.6,55
9085,Noida,77.326565,28.568076,Ice Cream,250,No,No,No,1,3.4,11
9086,Noida,77.326250,28.567822,Chinese,1300,No,Yes,No,3,2.6,334
9087,Noida,77.325497,28.567254,Ice Cream,300,No,No,No,1,3.5,41
9088,Noida,77.325308,28.567150,"Burger, Fast Food",500,No,No,No,2,3.5,211
9089,Noida,77.326071,28.567447,Cafe,600,No,No,No,2,3.5,110
9090,Noida,77.326475,28.567888,"Chinese, Thai",1100,Yes,Yes,No,3,3.6,507
9091,Noida,77.325351,28.567105,Fast Food,150,No,No,No,1,3.5,37
9092,Noida,77.325532,28.567216,Chinese,1500,Yes,No,No,3,3.7,517
9093,Noida,77.325645,28.567429,"Mughlai, North Indian",600,No,Yes,No,2,3.6,179
9094,Noida,77.325513,28.567249,"Italian, Pizza, Fast Food",1000,No,No,No,3,3.7,189
9095,Noida,77.326138,28.568013,"South Indian, North Indian, Chinese",800,No,No,No,2,3.5,139
9096,Noida,77.326206,28.567683,"American, Tex-Mex",2500,Yes,Yes,No,4,3.5,1147
9097,Noida,77.326138,28.568013,"North Indian, Rajasthani",1000,No,No,No,3,3.5,249
9098,Noida,77.325600,28.567514,Fast Food,200,No,No,No,1,0.0,0
9099,Noida,0.000000,0.000000,"Italian, Chinese",200,No,No,No,1,0.0,0
9100,Noida,77.325398,28.567159,Desserts,150,No,No,No,1,0.0,1
9101,Noida,77.326565,28.568076,"Desserts, Ice Cream",150,No,No,No,1,0.0,1
9102,Noida,77.324803,28.564185,Cafe,850,No,No,No,2,0.0,1
9103,Noida,77.323213,28.567751,"Continental, Lebanese, Mexican",1000,Yes,No,No,3,0.0,0
9104,Noida,77.325308,28.567150,"Chinese, North Indian, South Indian, Fast Food",450,No,No,No,1,2.0,161
9105,Noida,77.326475,28.568067,"North Indian, Continental, Chinese",2400,Yes,No,No,4,2.0,230
9106,Noida,77.325445,28.567040,"North Indian, Mughlai",1200,Yes,Yes,No,3,2.0,108
9107,Noida,77.325398,28.567159,"North Indian, Chinese",1200,Yes,No,No,3,4.0,395
9108,Noida,77.367524,28.557537,"North Indian, Chinese",700,No,Yes,No,2,2.6,34
9109,Noida,77.367303,28.557929,Fast Food,400,No,No,No,1,0.0,1
9110,Noida,77.367188,28.557842,Fast Food,600,No,No,No,2,0.0,3
9111,Noida,77.367322,28.557930,"North Indian, Chinese",500,No,No,No,2,0.0,0
9112,Noida,77.367188,28.557852,"Raw Meats, Fast Food",250,No,No,No,1,0.0,1

In [37]:
data.drop(columns = ["Switch to order menu"],inplace = True)

In [38]:
data.head()

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
1161,Gurgaon,77.039310,28.424831,"Cafe, Beverages",350,No,No,1,3.4,16
1162,Gurgaon,77.039220,28.424913,"North Indian, Mughlai",800,Yes,Yes,2,2.7,80
1163,Gurgaon,77.097118,28.503077,"North Indian, Mughlai",2000,Yes,Yes,4,4.3,1887
1164,Gurgaon,77.097185,28.502613,"South Indian, Seafood, Kerala",1400,Yes,Yes,3,4.0,802
1165,Gurgaon,77.042009,28.511416,Bakery,250,No,No,1,3.0,4

In [39]:
data.columns.nunique()

10

In [40]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [41]:
data["Has Table booking"].value_counts()

No     6640
Yes    1031
Name: Has Table booking, dtype: int64

In [42]:
#replacing yes with 1 and no with 0

In [43]:
data['Has Table booking'].replace('Yes',1,inplace = True)
data['Has Table booking'].replace('No',0,inplace = True)

In [44]:
data['Has Table booking'].value_counts()

0    6640
1    1031
Name: Has Table booking, dtype: int64

In [45]:
data['Has Online delivery'].value_counts()

No     5393
Yes    2278
Name: Has Online delivery, dtype: int64

In [46]:
data['Has Online delivery'].replace("Yes",1,inplace = True)
data["Has Online delivery"].replace("No" , 0,inplace = True)

In [47]:
data["Has Online delivery"].value_counts()

0    5393
1    2278
Name: Has Online delivery, dtype: int64

In [48]:
data.head()

,City,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
1161,Gurgaon,77.039310,28.424831,"Cafe, Beverages",350,0,0,1,3.4,16
1162,Gurgaon,77.039220,28.424913,"North Indian, Mughlai",800,1,1,2,2.7,80
1163,Gurgaon,77.097118,28.503077,"North Indian, Mughlai",2000,1,1,4,4.3,1887
1164,Gurgaon,77.097185,28.502613,"South Indian, Seafood, Kerala",1400,1,1,3,4.0,802
1165,Gurgaon,77.042009,28.511416,Bakery,250,0,0,1,3.0,4

In [49]:
data.corr()

,Longitude,Latitude,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Votes
Longitude,1.000000,0.997721,0.071854,0.059863,0.138230,0.082031,0.221801,0.071482
Latitude,0.997721,1.000000,0.070816,0.060228,0.137746,0.081059,0.221399,0.071196
Average Cost for two,0.071854,0.070816,1.000000,0.643845,0.072198,0.848425,0.329785,0.297741
Has Table booking,0.059863,0.060228,0.643845,1.000000,0.072631,0.661477,0.251972,0.224377
Has Online delivery,0.138230,0.137746,0.072198,0.072631,1.000000,0.184855,0.339658,0.121491
Price range,0.082031,0.081059,0.848425,0.661477,0.184855,1.000000,0.372624,0.325489
Aggregate rating,0.221801,0.221399,0.329785,0.251972,0.339658,0.372624,1.000000,0.291500
Votes,0.071482,0.071196,0.297741,0.224377,0.121491,0.325489,0.291500,1.000000

In [50]:
#data.corr used for finding corelation

In [51]:
data.corr()["Average Cost for two"]

Longitude               0.071854
Latitude                0.070816
Average Cost for two    1.000000
Has Table booking       0.643845
Has Online delivery     0.072198
Price range             0.848425
Aggregate rating        0.329785
Votes                   0.297741
Name: Average Cost for two, dtype: float64

In [52]:
#here the corelation of cost is determined on all other factors in table

In [53]:
#removing latitude,longitude,and has online delivery

In [54]:
data.drop(columns = ["Longitude","Latitude","Has Online delivery"],inplace = True)

In [55]:
data.columns

Index(['City', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [56]:
data.head()

,City,Cuisines,Average Cost for two,Has Table booking,Price range,Aggregate rating,Votes
1161,Gurgaon,"Cafe, Beverages",350,0,1,3.4,16
1162,Gurgaon,"North Indian, Mughlai",800,1,2,2.7,80
1163,Gurgaon,"North Indian, Mughlai",2000,1,4,4.3,1887
1164,Gurgaon,"South Indian, Seafood, Kerala",1400,1,3,4.0,802
1165,Gurgaon,Bakery,250,0,1,3.0,4

In [57]:
data.columns.nunique()

7

In [58]:
#price range is same as or derived from average cost for two so removing this too

In [59]:
data.drop(columns = ["Price range"],inplace = True)

In [60]:
data.head()

,City,Cuisines,Average Cost for two,Has Table booking,Aggregate rating,Votes
1161,Gurgaon,"Cafe, Beverages",350,0,3.4,16
1162,Gurgaon,"North Indian, Mughlai",800,1,2.7,80
1163,Gurgaon,"North Indian, Mughlai",2000,1,4.3,1887
1164,Gurgaon,"South Indian, Seafood, Kerala",1400,1,4.0,802
1165,Gurgaon,Bakery,250,0,3.0,4

In [61]:
data["Cuisines"].value_counts()

North Indian                                                         873
North Indian, Chinese                                                447
Fast Food                                                            320
Chinese                                                              314
North Indian, Mughlai                                                303
Cafe                                                                 243
Bakery                                                               200
North Indian, Mughlai, Chinese                                       181
Bakery, Desserts                                                     163
Street Food                                                          144
Pizza, Fast Food                                                     124
Chinese, Fast Food                                                   112
Mithai, Street Food                                                  110
South Indian                                                         101
Bakery, Fast Food                                                    100
Mughlai                                                               96
Chinese, North Indian                                                 95
Ice Cream, Desserts                                                   78
Ice Cream                                                             71
Mithai                                                                66
North Indian, Chinese, Mughlai                                        65
North Indian, Fast Food                                               65
North Indian, Chinese, Fast Food                                      64
Bakery, Desserts, Fast Food                                           62
American, Fast Food, Salad, Healthy Food                              60
Mughlai, North Indian                                                 57
Biryani                                                               53
Beverages                                                             51
Fast Food, Burger                                                     51
North Indian, Chinese, Continental                                    48
                                                                    ...
Lucknowi, Mughlai                                                      1
Fast Food, Italian, Beverages                                          1
Italian, North Indian, Chinese                                         1
Cafe, Italian, European, Bakery                                        1
Desserts, Ice Cream, North Indian                                      1
North Indian, South Indian, Bakery, Beverages                          1
Cafe, Italian, Continental, Mexican, Mediterranean                     1
Street Food, North Indian, Chinese, Continental                        1
North Indian, Fast Food, Chinese, South Indian                         1
Assamese                                                               1
North Indian, Chinese, Mediterranean, Asian, Continental               1
Cafe, American, Desserts, Italian, Bakery                              1
Continental, North Indian, South Indian                                1
Japanese, Thai, Sushi                                                  1
Mithai, Street Food, Chinese                                           1
North Indian, Kashmiri, Chinese, Thai, Korean                          1
Bengali, Fast Food                                                     1
Cafe, Tea, Desserts                                                    1
Continental, Mexican, Burger, American, Pizza, Tex-Mex                 1
Chinese, North Indian, Thai                                            1
North Indian, Healthy Food, Rajasthani                                 1
Salad, Continental                                                     1
North Indian, Mughlai, Chinese, Bakery                                 1
Cafe, Continental, North Indian, Chinese, Mexican                      1
Chinese, Healthy Food                                                  1
Japanese, Chinese, Malaysian, Thai, Vietnamese                         1
Italian, Mexican, Spanish, Thai, Vietnamese, Indonesian, American      1
Fast Food, North Indian, South Indian, Chinese, Bakery                 1
Mughlai, Pakistani, North Indian                                       1
North Indian, Spanish, Mediterranean                                   1
Name: Cuisines, Length: 1143, dtype: int64

In [62]:
#the cuisine column is extremely important for price range but it is in text. so for model we have to convert it into array of
# 0 or 1 by by hot encoding but that will add many columns into dataset.

In [63]:
#for this we will take the mean price of the respective cuisine and replace the name with the mean

In [64]:
#it will generate a list of all cuisines with their mean values

In [65]:
#for dataframe we use reset index

In [66]:
cuisine = data.groupby("Cuisines")["Average Cost for two"].mean().reset_index()

In [67]:
#to replace the cuisine with the mean value we will merge both of these respesctive to column cuisine

In [68]:
new_data = data.merge(cuisine,on = "Cuisines")

In [69]:
#the avearage cost of two y is the average value generated by taking mean
#also cuisines column is no longer needed as we have mean to compare the cuisines

In [70]:
new_data.drop(columns = ["Cuisines"],inplace = True)

In [71]:
new_data.head()

,City,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Gurgaon,350,0,3.4,16,416.666667
1,New Delhi,200,0,0.0,0,416.666667
2,New Delhi,700,0,4.1,92,416.666667
3,Gurgaon,800,1,2.7,80,755.511551
4,Gurgaon,2000,1,4.3,1887,755.511551

In [72]:
new_data.rename(columns = {"Average Cost for two_x" : "cost", "Average Cost for two_y" : "cuisines"},inplace = True)

In [73]:
new_data.head()

        City  cost  Has Table booking  Aggregate rating  Votes    cuisines
0    Gurgaon   350                  0               3.4     16  416.666667
1  New Delhi   200                  0               0.0      0  416.666667
2  New Delhi   700                  0               4.1     92  416.666667
3    Gurgaon   800                  1               2.7     80  755.511551
4    Gurgaon  2000                  1               4.3   1887  755.511551

In [74]:
X = new_data.drop(columns = ["cost"]).values

In [75]:
X.shape

(7671, 5)

In [76]:
y = new_data["cost"].values

In [77]:
y

array([ 350,  200,  700, ...,  450, 1000,  450], dtype=int64)

In [78]:
#now the city is in string format but there are only 3 cities so one hot encoding can be applied

In [79]:
from sklearn.preprocessing import LabelEncoder

In [80]:
encoder = LabelEncoder()

In [81]:
X[:,0] = encoder.fit_transform(X[:,0])

In [82]:
X

array([[0, 0, 3.4, 16, 416.6666666666667],
       [1, 0, 0.0, 0, 416.6666666666667],
       [1, 0, 4.1, 92, 416.6666666666667],
       ...,
       [2, 0, 3.5, 105, 450.0],
       [2, 1, 0.0, 0, 1000.0],
       [2, 0, 2.0, 161, 450.0]], dtype=object)

In [83]:
X.shape

(7671, 5)

In [84]:
from sklearn.preprocessing import OneHotEncoder

In [85]:
oencoder = OneHotEncoder(categorical_features = [0])

In [86]:
X = oencoder.fit_transform(X).toarray()

In [87]:
#one hot encoder returns sparser matrix so to convert in numpy array toarray is used

In [88]:
X.shape

(7671, 7)

In [89]:
X

array([[   1.        ,    0.        ,    0.        , ...,    3.4       ,
          16.        ,  416.66666667],
       [   0.        ,    1.        ,    0.        , ...,    0.        ,
           0.        ,  416.66666667],
       [   0.        ,    1.        ,    0.        , ...,    4.1       ,
          92.        ,  416.66666667],
       ...,
       [   0.        ,    0.        ,    1.        , ...,    3.5       ,
         105.        ,  450.        ],
       [   0.        ,    0.        ,    1.        , ...,    0.        ,
           0.        , 1000.        ],
       [   0.        ,    0.        ,    1.        , ...,    2.        ,
         161.        ,  450.        ]])

In [90]:
#to remove multilinearity we have to remove one of the three generated columns

In [91]:
X = X[:,1:]

In [92]:
X.shape

(7671, 6)

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 9)

In [95]:
from sklearn.linear_model import LinearRegression

In [96]:
reg = LinearRegression()

In [97]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [99]:
y_pred = reg.predict(X_test)

In [103]:
from sklearn.metrics import r2_score

In [104]:
r2_score(y_test,y_pred)

0.7189272138600087

In [105]:
from sklearn.ensemble import RandomForestRegressor

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [106]:
reg1 = RandomForestRegressor(n_estimators = 200)

In [108]:
reg1.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [109]:
y_pred1 = reg1.predict(X_test)

In [110]:
r2_score(y_test,y_pred1)

0.6716316824395994

In [111]:
from sklearn.tree import DecisionTreeRegressor

In [112]:
reg2 = DecisionTreeRegressor()

In [113]:
reg2.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [114]:
y_pred2 = reg2.predict(X_test)

In [115]:
r2_score(y_test,y_pred2)

0.4212654221811619

In [116]:
from sklearn.svm import SVR

In [117]:
reg3 = SVR()

In [118]:
reg3.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [119]:
y_pred3 = reg3.predict(X_test)

In [120]:
r2_score(y_test,y_pred3)

-0.056812437284590844